*{
  margin: 0;
  padding: 0;
}
section{
  /* width: 100%;
margin: auto; */
height:700px ;
}
.intro{
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-position:top;

}
.activity{
  width: 100%;
  margin: auto;
}
.half-width{
  width: 30%;
  float: left;
  /* height: 700px; */
  margin: 50px;
  /* padding: 100px 80px; */
  transform: translateX(30%);
}
.half-width img{
  width: 100%;
  
}
.description{
    padding: 150px 50px;
}
.latest-work{
  /* width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center; */
  /* transform: translateX(10%); */
  text-align: center;
}
.latest-work img{
  width: 20%;
  /* display: inline-block; */
  padding: 10px 20px;
}
.latest-work h2{
  
}
.client-response{
  width: 30%;
  margin: auto;
  text-align: center;
}
.client-response h1{
  padding: 50px 20px;
}
.client-info, .latest-work h1{
  padding: 5px 20px;
  margin-top: 80px;
}
.client-response p{

}
.comment{
  width: 50%;
  margin: auto;
}
.contact{
  margin-top: 50px;
  width: 30%;
  margin: 50px auto;
  height: 100px;
  background-color: yellow;
  line-height: 1.5rem;
  border-radius: 10px;
}
footer p{
  text-align: center;
  padding: 80px 0;
}