*{
  margin: 0;
  padding: 0;
}
body{
  /* font-family: 'Poppins', sans-serif; */
font-family: 'Roboto', sans-serif;
}
section{

height:700px ;
}
.intro{
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  /* background-position:top; */
  background-size: 100% 100%;

}
.intro h3{
  font-size: 30px;
  /* line-height: 40px; */
}
.intro h1{
  font-size: 40px;
  padding: 30px 0;
  color: #EC4E8D;
  
}
.intro p{
  padding: 30px 0;
  color: #838383;
  
}
.intro a, .biography a{
  text-decoration: none;
  background-color: #EC4E8D;
  padding: 15px 40px;
  border-radius: 5px;
  color: white;
}

.profile img{
  height: 500px;
  background-color: #F6F8FE;
  border-radius: 71% 74% 74% 0% / 97% 84% 0% 17%    ;
}
.bio-pic img{
  height: 500px;
  background-color: gainsboro;
  clip-path: polygon(100% 0,100% 75%,50% 100%,0 75%,0 0); 
  border-radius: 50px;
}
.biography{
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}
.biography p{
  padding: 50px 0;
  color: #838383;
}
.activity{
  width: 100%;
  margin: auto;
}
.half-width{
  width: 30%;
  float: left;
  /* height: 700px; */
  margin: 50px;
  /* padding: 100px 80px; */
  transform: translateX(30%);
}
.half-width img{
  width: 100%;
  
}
.description{
    padding: 150px 50px;
}
.latest-work{
  background-image: url(images/latest-work-bg.png);
  background-repeat: no-repeat;
  background-position: top;
    background-size: 100% 51%;
    text-align: center;
  padding: 50px 15px;
}
.latest-work img{
  width: 20%;
  /* display: inline-block; */
  padding: 10px 20px;
}
.latest-work h2{
  padding: 50px 0;
}
.client-response{
  width: 30%;
  margin: auto;
  text-align: center;
}
.client-info{
  line-height: 2rem;
}
.client-response h1{
  padding: 50px 20px;
}
.client-info, .latest-work h1{
  padding: 5px 20px;
  margin-top: 60px;
}


.comment{
  width: 25%;
  margin: auto;
  padding:30px 0;
  
}
.contact{
  margin-top: 50px;
  width: 40%;
  margin: 50px auto;
  height: 100px;
  background-color: #EC4B73;
  line-height: 2.5rem;
  border-radius: 10px;
  color: white;
}
footer{
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 106% 88%;
  background-position: 161% 216%;
  
}
footer p{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 100px;
}